<h1>User info</h1>
<table>
  <!--Header-->
  <tr>
    <td>User ID     |</td>
    <td>Username     |</td>
    <td>Password     |</td>
  </tr>

  <!--Running through the info for all users-->
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.password %></td>

    </tr>
  <% end %>
</table>
